/* Group 20
LIN Yu Hsiang           1155172258
CHAN Yiu Cheung         1155193060
CHENG Hing Wai Kristian 1155176902
CHENG Kwan Wai          1155157943 */

#root {
  font-family: "Karla", sans-serif;
  --theme-color-1: #30B1BF;
  --theme-color-2: #1D6A73;
  --theme-color-3: #F2F2F2;
  --theme-color-4: #D2D6D9;
  --theme-color-5: #0F4C81;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(180deg, #93a5cf 0%, #efebe4 100%);
}

.background-image {
  background: #F2F2F2;
}

img {
  pointer-events: none;
}
