#navbar, #navbar-brand {
    font-family: "Gaegu", sans-serif;
    font-size: 1.3em;
    background-color: white !important;
}

#navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.11);
}

#navbar-brand {
    color: #0F4C81;
    /* color: #2ca9bc; */
}