/* Group 20
LIN Yu Hsiang           1155172258
CHAN Yiu Cheung         1155193060
CHENG Hing Wai Kristian 1155176902
CHENG Kwan Wai          1155157943 */

.curtain {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #93a5cf 0%, #efebe4 100%);
    transform-origin: top;
}