/* Group 20
LIN Yu Hsiang           1155172258
CHAN Yiu Cheung         1155193060
CHENG Hing Wai Kristian 1155176902
CHENG Kwan Wai          1155157943 */

.value-bubble {
    top: -2.5em;
    background-color: white;
    transform: translateX(-50%);
    font-size: 0.85em;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  }